html, body {
    padding: 0;
    margin: 0;
}
.body {
  background: silver;
}

.titre {text-align: center;
font-family: 'Montserrat:300', sans-serif; font-weight: 400;
margin-bottom: 0.5;
padding-top: 100px;
color: #2f4148;
font-weight: bold;}

.explications {
  font-family: 'Montserrat:300', sans-serif;
  color: #3a3a3a;
text-align: center;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height:75px;
    background-color: #2f4148;}

.container {
margin: 0 auto;
width: 960 px;
}
.reseaux {
  margin-bottom: 0.5em;
  font-family: 'Montserrat:300', sans-serif
  color: #2f4148; text-decoration: underline;
  text-align: center;
}
a {
  text-decoration: none;
color: white;
}

.nav li{
  list-style: none;
  float: left;
  margin-left: 20px;
  padding-top: 15px;
  font-family: 'Montserrat:300', sans-serif; font-weight: 400;
color: white;
  padding: 13px 35px;
  border:1px solid #FFF;
  border-radius: 3px;
  cursor: pointer;
   -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.nav a:visited{
    color: white;}

.nav li:hover {
 background-color: #FFF;
 color: #2f4148;
    }
.nav li:hover a{
      color: #2f4148 !important;
    }

.nav{
  float: right;
margin-right: 20px;}


.logo {
float: left;
height: 50px;
padding: 12px;
}

.fonimgcenter {
  background-image: url(jo.jpg);
  background-size: cover;
width: 100%;
height: 100%;

}

.sm {
max-width: 100%;
height: 50px;
background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;}


.bloc {list-style: none;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat:300',
  sans-serif;
  font-weight: 400;
  color: white;
}
.info{  width: 100px;
  height: 100px;
  background-color: gold;
  background: none;
  margin: 85px;
  border: 5px solid gold;
  border-radius: 50%;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}
/*.bloc li{
  width: 100px;
  height: 100px;
  background-color: gold;
  background: none;
  margin: 85px;
  border: 5px solid gold;
  border-radius: 50%;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}*/
